USE [master]
GO
/****** Object:  Database [QuanLyAppTracNghiem]    Script Date: 4/13/2024 3:34:11 PM ******/
CREATE DATABASE [QuanLyAppTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyAppTracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyAppTracNghiem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyAppTracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyAppTracNghiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyAppTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyAppTracNghiem]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone_number] [nvarchar](50) NULL,
 CONSTRAINT [PK__admin__3214EC0743AE39BB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History_Test]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_Test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_User] [int] NULL,
	[Id_Exam] [int] NULL,
	[NameExam] [nvarchar](50) NULL,
	[NumberExam] [int] NULL,
	[Time_Completed] [int] NULL,
	[Result] [nvarchar](50) NULL,
	[Total_Point] [int] NULL,
	[Date_Time] [nvarchar](50) NULL,
 CONSTRAINT [PK__History___3214EC075CF9B5AE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list_exam]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list_exam](
	[Id_Exam] [int] IDENTITY(1,1) NOT NULL,
	[Name_Exam] [nvarchar](50) NULL,
	[Exam_Number] [int] NULL,
	[number_Question] [int] NULL,
	[Time] [int] NULL,
 CONSTRAINT [PK__list_exa__5CF55AD932D157B8] PRIMARY KEY CLUSTERED 
(
	[Id_Exam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list_subject]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list_subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameExam] [nvarchar](50) NULL,
 CONSTRAINT [PK__list_sub__3213E83FD5E620AD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id_question] [int] IDENTITY(1,1) NOT NULL,
	[Id_Exam] [int] NULL,
	[question] [nvarchar](200) NULL,
	[AnswerA] [nvarchar](200) NULL,
	[AnswerB] [nvarchar](200) NULL,
	[AnswerC] [nvarchar](200) NULL,
	[AnswerD] [nvarchar](200) NULL,
	[Correct_Answer] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Question__2BD92477ADBFC513] PRIMARY KEY CLUSTERED 
(
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking](
	[Id_User] [int] NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[Completed_Exams] [int] NULL,
	[Total_Points] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/13/2024 3:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone_number] [nvarchar](50) NULL,
 CONSTRAINT [PK__Users__D03DEDCB1F1C05F8] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([Id], [username], [password], [fullname], [email], [phone_number]) VALUES (1, N'admin1', N'password1', N'Admin One', NULL, NULL)
INSERT [dbo].[admin] ([Id], [username], [password], [fullname], [email], [phone_number]) VALUES (2, N'admin2', N'password2', N'Admin Two', NULL, NULL)
INSERT [dbo].[admin] ([Id], [username], [password], [fullname], [email], [phone_number]) VALUES (3, N'admin3', N'password3', N'Admin Three', NULL, NULL)
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[list_exam] ON 

INSERT [dbo].[list_exam] ([Id_Exam], [Name_Exam], [Exam_Number], [number_Question], [Time]) VALUES (163, N'Công nghệ Java', 1, 10, 10)
INSERT [dbo].[list_exam] ([Id_Exam], [Name_Exam], [Exam_Number], [number_Question], [Time]) VALUES (164, N'Mạng máy tính', 1, 10, 10)
INSERT [dbo].[list_exam] ([Id_Exam], [Name_Exam], [Exam_Number], [number_Question], [Time]) VALUES (165, N'Cơ sở dữ liệu', 1, 10, 10)
SET IDENTITY_INSERT [dbo].[list_exam] OFF
GO
SET IDENTITY_INSERT [dbo].[list_subject] ON 

INSERT [dbo].[list_subject] ([id], [nameExam]) VALUES (19, N'Lập trình hướng đối tượng')
INSERT [dbo].[list_subject] ([id], [nameExam]) VALUES (20, N'Công nghệ Java')
INSERT [dbo].[list_subject] ([id], [nameExam]) VALUES (21, N'Mạng máy tính')
SET IDENTITY_INSERT [dbo].[list_subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([id_question], [Id_Exam], [question], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [Correct_Answer], [Status]) VALUES (1156, 163, N'Trong Java, từ khóa "final" được sử dụng để làm gì?', N'Chỉ định một phương thức không thể được ghi đè', N'Đánh dấu một biến là hằng số', N'Cả a và b đúng', N'Kết thúc một vòng lặp', 3, 0)
INSERT [dbo].[Question] ([id_question], [Id_Exam], [question], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [Correct_Answer], [Status]) VALUES (1157, 163, N'Interface trong Java là gì?', N'Một lớp cụ thể', N'Một tập hợp các phương thức trừu tượng', N'Một biến đối tượng', N'Một khối mã lệnh', 2, 0)
INSERT [dbo].[Question] ([id_question], [Id_Exam], [question], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [Correct_Answer], [Status]) VALUES (1158, 163, N'Trong Java, cách nào sử dụng để xử lý ngoại lệ?', N'Try-catch', N'If-else', N'Switch', N'While', 1, 0)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_User], [username], [password], [fullname], [email], [phone_number]) VALUES (1, N'john_doe', N'password123', N'John Doe', N'john.doe@example.com', N'1234567890')
INSERT [dbo].[Users] ([Id_User], [username], [password], [fullname], [email], [phone_number]) VALUES (2, N'jane_smith', N'pass123', N'Jane Smith', N'jane.smith@example.com', N'9876543210')
INSERT [dbo].[Users] ([Id_User], [username], [password], [fullname], [email], [phone_number]) VALUES (3, N'mike_williams', N'mikepass', N'Mike Williams', N'mike.williams@example.com', N'5551234567')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
